html,
body {
    border: 0;
    margin: 0;
    padding: 0;
}

div.videoHolder {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 1.0;
    background-color: lightgray;
}

